[charon]
# This filters Charon to keep only the type definitions we care about for `generate-ml`.
exclude = [
    "_",
    "crate::_",
    "crate::ast::_",
]
include = [
    "alloc::alloc::Global",
    "alloc::string::String",
    "alloc::vec::Vec",
    "core::cmp::Ordering",
    "core::ops::control_flow::ControlFlow",
    "core::option::Option",
    "crate::ast",
    "crate::ast::expressions",
    "crate::ast::gast",
    "crate::ast::krate",
    "crate::ast::llbc_ast",
    "crate::ast::meta",
    "crate::ast::names",
    "crate::ast::types",
    "crate::ast::ullbc_ast",
    "crate::ast::values",
    "crate::ids::vector::Vector",
    "crate::options::CliOpts",
    "crate::transform::reorder_decls::DeclarationGroup",
    "crate::transform::reorder_decls::GDeclarationGroup",
    "std::path::PathBuf",
]
